@use '~bulma/sass/utilities/initial-variables';
@use '~bulma/sass/utilities/functions';
@use './colors.scss';

// Add customization here
$fullhd-enabled: false;
$widescreen-enabled: false;
$section-padding: 3em 2em;
$tablet: 768px; // include ipad

$navbar-burger-color: $info;

@import '~bulma';

.navbar-burger {
  span {
    height: 2px;
  }
}

a {
  transition: color 0.2s ease;
}

// Page VUE transition - basic fade in and out of opacity
// .page-enter-active,
// .page-leave-active {
//   transition: opacity 0.2s;
// }
// .page-enter,
// .page-leave-active {
//   opacity: 0;
// }

.section {
  animation: fadein 0.35s;
  animation-timing-function: ease-in;
}

@keyframes fadein {
  from {
    opacity: 0;
    // transform: translateX(-50px);
    // transform: scaleX(0);
  }

  to {
    opacity: 1;
    // transform: translateX(0);
    // transform: scale(1);
  }
}
