@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// Add customization here
$fullhd-enabled: false;
$widescreen-enabled: false;
$primary: rgb(14, 45, 77);
$info: rgb(232, 75, 13);
$link: rgb(232, 75, 13);
$tablet: 768px; // include ipad

$navbar-burger-color: $info;

@import '~bulma';

.navbar-burger {
  span {
    height: 2px;
  }
}

.post-content {
  display: flex;
  flex-direction: column;

  .instagram-media, .instagram-media-rendered {
    margin: auto !important;
  }

  .kg-image-card {
    align-self: center;
    img {
      max-width: 75vw;
    }
  }

  .kg-width-wide {
    align-self: center;
    img {
      max-width: 85vw;
    }
  }

  .kg-width-full {
    align-self: center;
    img {
      max-width: 100vw;
    }
  }

  p {
    img {
      text-align: center;
    }
  }
}

.content {
  img {
    display: block;
    margin: auto;
  }
}