@use '~bulma/sass/utilities/initial-variables';
@use '~bulma/sass/utilities/functions';
@use './colors.scss';

// Add customization here
$fullhd-enabled: false;
$widescreen-enabled: false;
$section-padding: 3em 2em;
$tablet: 768px; // include ipad

$navbar-burger-color: $info;

@import '~bulma';

.navbar-burger {
  span {
    height: 2px;
  }
}

a {
  transition: color 0.2s ease;
}
